# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

/remappedSrc/com/progression_respun/mixin/AnvilScreenHandlerMixin.java
/remappedSrc/com/progression_respun/mixin/under_armor_handling/ArmorItemMixin.java
/remappedSrc/com/progression_respun/mixin/ArmorMaterialMixin.java
/remappedSrc/com/progression_respun/util/ArmorUtil.java
/remappedSrc/com/progression_respun/mixin/BrewingStandBlockEntityMixin.java
/remappedSrc/com/progression_respun/mixin/compat/BronzeToolMaterialMixin.java
/remappedSrc/com/progression_respun/mixin/CampfireBlockEntityMixin.java
/remappedSrc/com/progression_respun/mixin/CampfireBlockMixin.java
/remappedSrc/com/progression_respun/compat/CompatMods.java
/remappedSrc/com/progression_respun/mixin/ComponentHolderMixin.java
/remappedSrc/com/progression_respun/item/ComponentHolderState.java
/remappedSrc/com/progression_respun/block/CrucibleBlock.java
/remappedSrc/com/progression_respun/block/entity/CrucibleBlockEntity.java
/remappedSrc/CrucibleBlockEntityRenderer.java
/remappedSrc/com/progression_respun/recipe/CrucibleRecipe.java
/remappedSrc/com/progression_respun/recipe/CrucibleRecipeBuilder.java
/remappedSrc/com/progression_respun/recipe/CrucibleRecipeInput.java
/remappedSrc/com/progression_respun/mixin/oxidizable/DropperBlockMixin.java
/remappedSrc/com/progression_respun/mixin/EnchantmentHelperMixin.java
/remappedSrc/com/progression_respun/compat/EnderscapeItems.java
/remappedSrc/com/progression_respun/compat/GalosphereItems.java
/remappedSrc/com/progression_respun/recipe/GrindingRecipe.java
/remappedSrc/com/progression_respun/recipe/GrindingRecipeBuilder.java
/remappedSrc/com/progression_respun/recipe/GrindingRecipeInput.java
/remappedSrc/com/progression_respun/block/entity/ImplementedInventory.java
/remappedSrc/com/progression_respun/mixin/ItemMixin.java
/remappedSrc/com/progression_respun/mixin/ItemStackMixin.java
/remappedSrc/com/progression_respun/mixin/LivingEntityAccessor.java
/remappedSrc/com/progression_respun/mixin/under_armor_handling/LivingEntityMixin.java
/remappedSrc/com/progression_respun/util/LootTableUtil.java
/remappedSrc/com/progression_respun/util/MobUtil.java
/remappedSrc/com/progression_respun/block/entity/ModBlockEntities.java
/remappedSrc/com/progression_respun/data/ModBlockLootTableProvider.java
/remappedSrc/com/progression_respun/block/ModBlocks.java
/remappedSrc/com/progression_respun/data/ModBlockTagProvider.java
/remappedSrc/com/progression_respun/block/ModBlockTags.java
/remappedSrc/com/progression_respun/component/ModDataComponentTypes.java
/remappedSrc/ModelUtil.java
/remappedSrc/com/progression_respun/worldgen/ModFeatures.java
/remappedSrc/com/progression_respun/item/ModItems.java
/remappedSrc/com/progression_respun/data/ModItemTagProvider.java
/remappedSrc/com/progression_respun/data/ModModelProvider.java
/remappedSrc/com/progression_respun/data/ModRecipeProvider.java
/remappedSrc/com/progression_respun/recipe/ModRecipes.java
/remappedSrc/com/progression_respun/item/ModToolMaterials.java
/remappedSrc/com/progression_respun/block/OxidizableDispenserBlock.java
/remappedSrc/com/progression_respun/block/OxidizableDropperBlock.java
/remappedSrc/com/progression_respun/util/OxidizableUtil.java
/remappedSrc/com/progression_respun/util/Pebbles.java
/remappedSrc/com/progression_respun/block/PebblesBlock.java
/remappedSrc/com/progression_respun/mixin/under_armor_handling/PlayerEntityMixin.java
/remappedSrc/com/progression_respun/util/PlayerUtil.java
/remappedSrc/com/progression_respun/mixin/PotionItemMixin.java
/remappedSrc/com/progression_respun/mixin/PotionsMixin.java
/remappedSrc/com/progression_respun/ProgressionRespun.java
/remappedSrc/com/progression_respun/ProgressionRespunDataGenerator.java
/remappedSrc/com/progression_respun/recipe/RecipeFactory.java
/remappedSrc/com/progression_respun/util/RecipeUtil.java
/remappedSrc/com/progression_respun/mixin/ServerPlayerEntityMixin.java
/remappedSrc/com/progression_respun/util/SoundUtil.java
/remappedSrc/com/progression_respun/mixin/ToolMaterialsMixin.java
/remappedSrc/com/progression_respun/component/type/UnderArmorContentsComponent.java
/remappedSrc/com/progression_respun/compat/VanillaItems.java
